.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-width: 360px;
    padding: 20px 16px;
    box-shadow: inset -1px 0px 0px rgba(32, 31, 30, 0.12);
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}
.title {
    padding-bottom: 20px;
}
