.wrapper {
    width: 96%;
    height: 100%;
    padding-top: 16px;
    
}
.input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #A19F9D;
    border-radius: 4px;
    align-items: center;
    padding: 10px 16px;
}
.input:focus {
    outline: none;
}