.wrapper {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    width: 100%;
}
.message_wrapper {
    border-radius: 4px;
    padding: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #201F1E;
    padding: 8px;
    margin-top: 4px;
}
.block_message{
    max-width: 55%;
}
.my_message_wrapper{
    display: flex;
    justify-content: end;
}
.not_my_message{
    background: #F3F3F3;
}
.my_message {
    background: rgba(64, 126, 201, 0.16);
    justify-content: end;
}
.user_name{ 
    font-weight: 700;
}
.message_date {
    align-self: center;
    padding: 8px 12px;
    background: rgba(64, 126, 201, 0.08);
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #201F1E;
    margin-top: 12px;
}
.time_message{
    text-align: right;
    font-size: 12px;
    line-height: 9px;
    color: #605E5C;
}
.time_message_wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}