.header{
    display: flex;
    width: 100%;
    max-height: 64px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: inset 0px -1px 0px rgba(32, 31, 30, 0.12);
    padding: 20px 16px;
} 