.wrapper {
    padding: 4px 12px;
    min-height: 24px;
    background: rgba(64, 126, 201, 0.08);
    margin-top: 12px;
}
.text{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #407EC9;
}